/*	Media 768Px Start */
@media (min-width: 768px) and (max-width: 990px) {
	[class*="col-"] { padding: 0px 5px; }
	.row { margin: 0px -5px; }
	.app-main .app-main__inner { padding: 30px 10px 0px; }
	.search-form li { width: 50%; margin: 0px 0px 10px;}
	.popover, .dropdown-menu {
		transform: translateY(70px) !important;
    	top: 0 !important;
	}
	.sidebar-mobile-open .app-sidebar .app-sidebar__inner ul.mm-show { padding: .5em 0 0 1rem; }
	/*.app-header .app-header__content { width: auto; left: auto; right: 5%; }*/
	#add_range { margin: 6px 0px 0px !important; }
	.app-header__menu { visibility: hidden; opacity: 0; }
	.header-btn-lg::before{ display: none; }
	.app-header .app-header__content .header-btn-lg { margin-left: 0px; }
	.app-header .app-header__content { visibility: visible; opacity: 1; right: 15px; left: unset; width: auto; padding: 0px; background: transparent; box-shadow: none;}
	.app-header__logo { padding-left: 0px; }
	.app-main { padding-bottom: 60px; }
	.app-wrapper-footer {position: absolute; bottom: 0px; width: 100%; }
}

/* Media 420Px Start */
@media (max-width: 767px) {
	.widget-content-left > .btn-group > a > i { margin: 0px !important; }
	.app-main { padding-bottom: 60px; }
	.app-wrapper-footer {position: absolute; bottom: 0px; width: 100%; }
	.app-header__logo { padding-left: 0px; }
	.app-header__menu { visibility: hidden; opacity: 0; }
	.header-btn-lg::before{ display: none; }
	.app-header .app-header__content .header-btn-lg { margin-left: 0px; }
	.app-header .app-header__content { visibility: visible; opacity: 1; right: 15px; left: unset; width: auto; padding: 0px; background: transparent; box-shadow: none;}
	/*.app-header .app-header__content { width: auto; left: auto; right: 5%; }*/
	#add_range { margin: 0 0px 16px !important; }
	.app-header__logo .logo-src { width: 100%; }
	.table-responsive { overflow: auto; }
	.table-responsive>.table { width: 1000px !important; }
	.card-body form { width: 100%; float: left; }
	.search-form li { width: 50%; margin: 0px 0px 10px;}
	.search-form li:last-child button { margin: 0px; }
	#example tr th,#example tr td { display: table-cell !important; }
	.motivz-job-search ul li { width: 50%; }
	.popover, .dropdown-menu { transform: translateY(-170%) !important; }
	.motivz-job-list figure ~ .motivz-joblisting-text { margin: 15px 0px 0px 0px; float: left; width: 100%; }
	.motivz-list-option ul li { padding: 2px 7px 9px 0; border-left: none; }
	.motivz-job-userlist { margin-top: 0px; }
	.motivz-option-btn { margin-right: 5px; min-width: 85px; margin-bottom: 5px; }
	.motivz-list-option h2 > a { display: block; margin-bottom: 7px; }
	.sidebar-mobile-open .app-sidebar .app-sidebar__inner ul.mm-show { padding: .5em 0 0 1rem; }
}

/* Media 300Px Start */
@media (max-width: 600px) {
	.search-form li,.motivz-job-search ul li { width: 100%; }
	.search-form.width-full li { width: 100% !important }
	.card-body form { margin: 0px 0px 10px; }
	.search-form select { width: 35%; }
	.search-form li:first-child input { width: 65%; }
}

/* Media 940Px Start */
@media screen and (min-width: 991px) and (max-width: 1250px) {
	.sidebar-mobile-open .app-sidebar .app-sidebar__inner ul.mm-show { padding: .5em 0 0 1rem; }
}